@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Moon+Dance&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Moon+Dance&family=Rock+Salt&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* ESTILO DE CUERPO*/

h1{
    text-align: center; 
    color: rgb(255, 255, 255);

}
h2{
    text-align: left; 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-style: normal;
    line-height: 1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    text-align: left; 
    color: rgb(103, 172, 229);
    font-size: 10mm;
    line-height: 2;
    font-family:Rubik;
    
}

a{
    text-align: left; 
    color: rgb(103, 172, 229);
    font-size: 4mm;
    line-height: 2;
    font-family:Arial;
}

td{
    text-align: center; 
}

.td1{
    display: block; 
    width:22%;
    margin-left: -10px;
    justify-content: left;
}

.td2{
    width:"82%";
    vertical-align: top; 
    line-height: 3.5;
}

.td3{
    vertical-align: top;
    width: 10%;
}

button{
    /* display: block; */
    height: 40px;
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: fantasy;
    background-color: #f14b0a;
    margin: 3px;
    transition: 0.6s;
}

button:hover{
    filter: brightness(120%);
}
.cont-btn{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
    }
}

.container{
    /* width: 1440px; */
    width: 95%;
    max-width: 1440px;
    margin: 20px auto;
}

.pg-class01{
    color: rgb(90, 43, 231);
    font-size: 8mm;
    line-height: 2;
    font-family:Arial;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px
}

.fcc-btn{
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Times New Roman';
    font-size: 14px;
    
}

.fcc-btn:hover {
    background-color: #223094;
    padding: 6px 15px;
  }

.pg-class02{
    color: aliceblue;
    font-size: 10px;
    line-height: 4;
    text-align: center; 
    font-size: 16px;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    animation: parpadeo 2.5s infinite;
}

.carrousel .carrousel-img{
    background-image: url('https://assets.onecompiler.app/42vw3gfvx/42vw3nywv/airplane%2001.jpg');
    height: 20rem;
    width: 25rem;
    background-size: contain;
    background-position: center;

}

.carrousel{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

@keyframes parpadeo {
    0%{opacity: 1;}
    50%{opacity: 0;}
}

.pg-class02:hover{
    text-shadow: 2px 2px 2px black;
}

.fcc-btn2{
    text-align: right;
    background-color: #0a75f1;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.fcc-btn2:hover{
    background-color: #ffffff;
    color: #0a75f1;
    font-weight: bold;
    
}

.pg-class03{
    text-align: left; 
    font-style:normal; 
    font-size: 20px; 
    color: rgb(143, 145, 12); 
    line-height: 2;
}

.pg-class04{
    text-align: right; 
    font-style:normal; 
    font-size: 20px; 
    color: rgb(143, 145, 12); 
    line-height: 2;
    font-family: Georgia;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px;
}

.pg-class05{
    text-align: center; 
    font-size: 20px; 
    color: rgb(255, 255, 255); 
    line-height: 0;
    font-family: "Moon Dance", cursive;
    font-weight: bold;
    font-style: normal;
}

.pg-class06{
    text-align: center; 
    font-size: 20px; 
    color: rgb(255, 255, 255); 
    line-height: 1rem;
    font-family: "Moon Dance", cursive;
    font-weight: bold;
    font-style: normal;
    /* vertical-align: text-bottom; */
}

hr{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 1px;
    border-width: 1px;
}

ol{
    text-align: left; 
    color: rgb(103, 172, 229);
    font-size: 15px;
    line-height: 2;
    font-family:Arial;
}

.img-01{
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
}

.img-02{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
}
/* style="text-align: left; color: rgb(35, 203, 88 */


.icon-01{
    
    justify-content: center;
    /* position: relative; */
    display: block;
    cursor: pointer;
    text-align: center;
}

i{
    display: inline-block;
    margin: 25px;
    transform: scale(160%);
    transition: all 0.2s;
    
}

i:hover{
    transform: scale(200%);
    transform: translate(80%);
    color: orange;
}

span{
    text-align: center;
}

.container01{

    border: 2px solid;
    color: #f14b0a;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 10px;
    justify-content: center;
}

.container02{
width: 15rem;
height: 15rem;
display: block;
/* justify-self: center; */
align-content: center;
}

.glass-effect{
    background-color: #fafafa10;
    backdrop-filter: blur(0.1rem);
}

svg{
    /* text-align: right */
    text-decoration: none;
    border-radius: 9px;
    transition: all 0.2s;
}

svg:hover{
    background-color: #000000;
    border-radius: 50px;
    
}

.link-t01{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    color: #0a75f1;
    text-shadow: none;
    text-align: justify;
    text-decoration: none;
    transition: 0.4s;
}

.link-t01:hover{
    color: #0a19f1;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #f5e108;
    text-align: justify;
}

/* MEDIAQUERIES */

@media screen and (max-width:800px){
    h2{
        font-size: 30px;
    }
    
    ol{
        font-size: 25px;
    }

    .link-t01{
        font-size: 20px;
        font-weight: bold;
    }

    .td3{
        width: 14%;
    }

    .td1{
        width: 15%;
    }

    .td2{
        width: 85%;
    }

    .pg-class02{
        font-size: 18px;
        line-height: 3;
    }
    
    .carrousel .carrousel-img{
    height: 15rem;
    width: 20rem;

    }
}

@media screen and (min-width:800px) and (max-width:1640px) {
    .pg-class02{
        font-size: 25px;
        line-height: 3;
    }
}